<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>the playground</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-grid.min.css">
  {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
  {{/each}}
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h1 class="center">
          <a href="/">the playground</a>
        </h1>
      </div>
    </div>
    <br><br><br>
    {{{body}}}
    {{#each js}}
      <script src="/js/{{this}}"></script>
    {{/each}}
  </div>
</body>

</html>