<!DOCTYPE html>

<html>

<head>
  <title>the playground</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-grid.min.css">
  {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
  {{/each}}
</head>

<body>
  <div class="container">
    <a id="home-button" href="/">the playground</a>
    <br><br><br>
    {{{body}}}
    {{#each js}}
      <script src="/js/{{this}}"></script>
    {{/each}}
  </div>
</body>

</html>