<!DOCTYPE html>

<html>

<head>
  <title>the playground</title>
  <link href="/css/main.css" rel="stylesheet">
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
  {{/each}}
</head>

<body>
  <a id="home-button" href="/">the playground</a>
  <br><br><br>
  {{{body}}}
  {{#each js}}
    <script src="/js/{{this}}"></script>
  {{/each}}
</body>

</html>