<link rel="stylesheet" href="/css/baby-name-suggestor.css">
<div class="container">
  <!-- redirect to /baby-name-suggestor -->
  <form method="get" action="/baby-name-suggestor">
    <button type="submit">app</button>
  </form>
  <h1>baby name suggestor: about</h1>
  <p>
    talk about the app
    what you used to create it etc
  </p>
</div>