<div id="container">
  <!-- redirect to /baby-name-suggestor -->
  <form method="get" action="/baby-name-suggestor">
    <button type="submit" class="btn">baby name suggestor</button>
  </form>
  <!-- redirect to /number-grid-scrambler -->
  <form method="get" action="/number-grid-scrambler">
    <button type="submit" class="btn">number grid scrambler</button>
  </form>
</div>