<!-- redirect to /name-suggestor -->
<form method="get" action="/name-suggestor">
  <button type="submit">name suggestor</button>
</form>
<!-- redirect to /number-grid-scrambler -->
<form method="get" action="/number-grid-scrambler">
  <button type="submit">number grid scrambler</button>
</form>
<!-- redirect to /login -->
<form method="get" action="/login">
  <button type="submit">login</button>
</form>