<link rel="stylesheet" href="/css/login.css">

<h1>login</h1>
<br>
<div>
  <input type="text" id="username" placeholder="username">
  <br>
  <input type="password" id="password" placeholder="password">
  <br>
  <button onclick="send_login_information()">login</button>
</div>
<br>
<p>username: keyboard</p>
<p>password: mouse</p>

<script src="/js/login.js"></script>